* {
    font-family: Georgia, 'Times New Roman', Times, serif, Times, serif
}

.carousel-item {
    height: 100%;
    min-height: 400px;
    
}


.carousel-caption h5 {
    font-size: 45px;
    margin-top: 25px;
    color: rgb(239, 240, 241);
    font-family: "Anton", sans-serif;

}


.logo {
    width: 60%;
    margin: auto;
}

.paragraph {
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.9;
    margin: auto;

}



.main-title {
    font-size: 40px;
    bottom: 70px;
    font-family: "Anton", sans-serif;
    color: #0e263b;

}

.paragrap {
    font-size: 40px;
    font-family: "Anton", sans-serif;
    color: #0e263b;
}

.main-title span {
    color: rgb(224, 137, 6);
    font-family: "Anton", sans-serif;
}

.card-title span {
    color: white;

}

.card-title {
    font-family: "Roboto", sans-serif;

}

.btn {
    background-color: rgb(224, 137, 6);
    color: aliceblue;
    border: none;
    padding: 10px 30px ;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    display: inline-block;
    margin-top: 15px;

}

.btn:hover {
    background-color: rgb(8, 8, 75);
    color: aliceblue;
}

.contaierCards {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 300px);
    padding-bottom: 50px;
}

.containerCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

}


main {
    width: 100%;
}




@media screen and (max-width: 780px) {
    .contaierCards {
        grid-template-columns: repeat(2, 1fr);
    }

    
}
@media screen and (max-width: 560px) {
    .contaierCards {
        grid-template-columns: repeat(1, 1fr);
    }

    
}

@media screen and (max-width: 1016px) {
    .carousel-caption{
        bottom: 15px;
        height: 100%;
        
    }

    
}
@media screen and (max-width: 767px) {
    .carousel-caption h5 {
       font-size: 35px; 
    }

    .btn {
        font-size: 25px; 
        font-weight: 700;
        margin-top: 70px;

      
        
     }
}

@media screen and (max-width: 448px) {
    .carousel-caption h5 {
       font-size: 18px; 
    }
    .paragraph {
        font-size: 11px; 

     }
    
}

